<div class="d-flex">
	<div>
		<InputCheckbox @bind-Value="Item.IsCompleted" @bind-Value:after="UpdateItem"></InputCheckbox>
	</div>
	<div id="item-name" class="px-2 flex-grow-1 @(Item.IsCompleted ? "complete" : "")">
		@Item.Name
	</div>
	<div>
		<button class="btn" @onclick="DeleteItem">
			<i class="bi bi-trash-fill text-danger"></i>
		</button>
	</div>
</div>

@code {
	[Parameter, EditorRequired]
	public TaskerItem? Item { get; set; }

	/// <summary>
	/// Event handler to send back TaskerItem to the parent component
	/// </summary>
	[Parameter]
	public EventCallback<TaskerItem> OnDeleteCallBack { get; set; }

	[Parameter]
	public EventCallback<TaskerItem> OnCompleteCallback { get; set; }

	private async Task DeleteItem()
	{
		await OnDeleteCallBack.InvokeAsync(Item);
	}

	private async Task UpdateItem()
	{
		await OnCompleteCallback.InvokeAsync(Item);
	}
}
