@page "/"

<PageTitle>Blazor Tasker - Home</PageTitle>

<h1 class="m-0">Hello, world!</h1>

<div class="lead mb-5 fs-4">
	Welcome to my new Blazor app.
</div>

<dl>
	<dt>Blazor Project Structure</dt>
	<dd>Modify the blazor project structure</dd>
	<dt>Razor syntax</dt>
	<dd>Add conditional logic to HTML markup</dd>
	<dt>Routing</dt>
	<dd>Add pages with a route</dd>
</dl>