@page "/reverseastring"

<PageTitle>Reverse A String</PageTitle>

<h3>Reverse A String</h3>

<div class="vstack gap-3 col-8 col-md-6">
	<InputText class="form-control" placeholder="Enter a string to reverse" @bind-Value="message" />
	<div class="text-end">
		<button class="btn btn-primary" @onclick="ReverseMessage">
			Reverse Me
		</button>
	</div>
	<hr />

	@if (reversedMessage != "")
	{
		if (IsPalindrome)
		{
			<Message DisplayMessage="@displayMessage" Title="The message is a palindrome" CssClass="alert-success" />
		}
		else
		{
			<Message DisplayMessage="@displayMessage" Title="The message is not a palindrome" CssClass="alert-danger" />
		}
	}
</div>

@code {
	private string message = "Reverse Me";
	private string reversedMessage = "";
	private string displayMessage = "";
	private bool IsPalindrome = false;

	private void ReverseMessage()
	{
		reversedMessage = "";

		for (int i = message.Length - 1; i >= 0 ; i--)
		{
			reversedMessage += message[i];
		}

		if (reversedMessage == message)
		{
			IsPalindrome = true;
		}

		displayMessage = $"The reverse of '{message}' is '{reversedMessage}'";
	}
}
